<table mat-table [dataSource]="garages" class="mat-elevation-z8 full-width">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>שם מוסך</th>
    <td mat-cell *matCellDef="let garage">{{ garage.name }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>עיר</th>
    <td mat-cell *matCellDef="let garage">{{ garage.city }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>כתובת</th>
    <td mat-cell *matCellDef="let garage">{{ garage.address }}</td>
  </ng-container>

  <ng-container matColumnDef="profession">
    <th mat-header-cell *matHeaderCellDef>מקצוע ראשי</th>
    <td mat-cell *matCellDef="let garage">{{ garage.profession }}</td>
  </ng-container>

  <ng-container matColumnDef="manager">
    <th mat-header-cell *matHeaderCellDef>מנהל</th>
    <td mat-cell *matCellDef="let garage">{{ garage.manager }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>