.add-button {
  background-color: var(--primary-color) !important;
  color: white;
  font-weight: bold;
  height: 3rem;      
  padding: 0 1rem;
}

.add-button mat-icon {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.header-controls {
  margin-bottom: 1.25rem;
}
